@media (max-width: 600px) {
			form{
				margin-left: -30px;
    			margin-right: 30px;
			}
			.sub{
				margin-left: 110px;
			}
			.lef{
				position: relative;
				left: -110px;
				top: 40px;
			}
			}
			.layui-form-selectup dl {
    		top: 42px;
    		bottom: unset;
				}